*{
    margin: 0;
    padding: 0;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Varela Round', sans-serif;
    --main: antiquewhite;
    --dark: #212121;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(124,166,125,0.7),rgba(124,166,125,0.7));
    background-image: linear-gradient(antiquewhite);
    background-position: center;
    background-size: cover;
    position: relative;
    
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    font-size: 20px;
    text-decoration: none;
    /* color: antiquewhite; */
    color: black;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #07930A;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    margin: 0 auto;
    width: 90%;
    /* color:antiquewhite; */
    color: black;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
    padding-bottom: 2rem;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    /* color: antiquewhite; */
    color: black;
    
}

.hero-button{
    display: inline-block;
    text-decoration: none;
    /* color: antiquewhite; */
    color: black;
    /* border: 1px solid antiquewhite; */
    border: 1px solid #07930A;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-button:hover{
border: 1px solid #07930A;
background: #07930A;
transition: 0.8s;
}
